name: CI-CD to GKE

on:
  push:
    branches: [ "main" ]

env:
  PROJECT_ID: your-gcp-project-id
  REGION: asia-south1
  CLUSTER_NAME: your-gke-cluster
  IMAGE_NAME: flask-ci-app
  REPO_NAME: flask-repo

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up gcloud
      uses: google-github-actions/setup-gcloud@v2

    - name: Configure Docker
      run: gcloud auth configure-docker asia-south1-docker.pkg.dev

    - name: Build & Push Docker Image
      run: |
        docker build -t asia-south1-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/$IMAGE_NAME:latest .
        docker push asia-south1-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/$IMAGE_NAME:latest

    - name: Get GKE Credentials
      run: |
        gcloud container clusters get-credentials $CLUSTER_NAME \
          --region $REGION \
          --project $PROJECT_ID

    - name: Deploy to GKE
      run: |
        sed -i "s|IMAGE_PLACEHOLDER|asia-south1-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/$IMAGE_NAME:latest|" k8s/deployment.yaml
        kubectl apply -f k8s/
