name: Flask CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run tests
      env:
          PYTHONPATH: ${{ github.workspace }}
      run: |
          python -m pytest tests

    - name: Build Docker image
      run: |
          docker build -t flask-ci-app .